@import 'C:/core/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import 'C:/core/core-customize/hybris/bin/modules/backoffice-framework/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';



.vis-tooltip {
  font-family: $font-family-opensans !important;
  color: $black__blueish--100 !important;
  padding: $container-spacing-default__third !important;
  background-color: $white !important;
  border: 1px solid $grey__light--100 !important;
  border-radius: 1px !important;
  box-shadow: 0 2px 4px 0 rgba(30, 40, 48, 0.3) !important;
}