@charset "UTF-8";
/*Import the default css-es */
@import url("cockpit.css");
.y-dnd-validation-popup {
  width: 700px; }
  .y-dnd-validation-popup .z-window-header {
    padding-bottom: 0; }
  .y-dnd-validation-popup .z-window-content {
    max-height: 440px; }
  .y-dnd-validation-popup .z-checkbox,
  .y-dnd-validation-popup .z-radio {
    line-height: 24px;
    height: 24px; }
  .y-dnd-validation-popup .y-window-container {
    /*    display: flex;
        flex-direction: column;
    */
    height: 100%; }
  .y-dnd-validation-popup .y-summary-error-info {
    padding: 0 0 10px 20px;
    color: #ff3b30; }
  .y-dnd-validation-popup .y-multi-select {
    display: inline-block;
    margin: 0 0 10px 20px; }
  .y-dnd-validation-popup .y-control-container {
    padding: 15px 20px 14px;
    text-align: right; }
  .y-dnd-validation-popup .y-cancel.z-button {
    background: transparent;
    color: #7f90a5; }
    .y-dnd-validation-popup .y-cancel.z-button:active, .y-dnd-validation-popup .y-cancel.z-button:focus {
      box-shadow: none; }
  .y-dnd-validation-popup .y-ignore-save.z-button {
    background: transparent;
    color: #ff3b30;
    border: 1px solid #ff3b30;
    margin-left: 30px; }

.y-multi-select.y-multi-state-check.z-checkbox:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 14px;
  height: 4px;
  background: #0486e0; }

.y-dnd-validation-popup .y-validation-details-container .z-label {
  max-width: 95%;
  font-size: 12px;
  display: inline-flex;
  white-space: pre-line; }
.y-dnd-validation-popup .y-validation-details-container > div {
  margin-top: 7px; }
  .y-dnd-validation-popup .y-validation-details-container > div > li {
    padding: 15px 0;
    list-style: none; }
    .y-dnd-validation-popup .y-validation-details-container > div > li:last-child {
      padding-bottom: 8px; }
    .y-dnd-validation-popup .y-validation-details-container > div > li:before {
      margin-top: -15px;
      height: 1px;
      width: 150%;
      left: -20px;
      background: #e0e9f0;
      content: '';
      position: absolute; }
    .y-dnd-validation-popup .y-validation-details-container > div > li:first-child:before {
      height: 1px;
      width: 150%;
      left: -60px;
      background: #e0e9f0;
      position: absolute;
      content: ''; }
.y-dnd-validation-popup .y-validation-details-container li > .y-validation-icon-cell {
  display: table-cell;
  table-layout: fixed; }
.y-dnd-validation-popup .y-validation-details-container li > .z-label {
  display: table-cell;
  table-layout: fixed; }
.y-dnd-validation-popup .y-validation-details-container .y-validation-icon-cell .y-error,
.y-dnd-validation-popup .y-validation-details-container .y-validation-icon-cell .y-warn {
  top: 3px;
  margin-right: 20px;
  position: relative; }
.y-dnd-validation-popup .y-row-selected .y-validation-details-container > div > li:before {
  background: #ffffff; }

.y-dnd-validation-popup .y-content-list {
  border: 1px solid #e0e9f0;
  border-width: 1px 0;
  max-height: 305px; }
  .y-dnd-validation-popup .y-content-list > .z-listbox-body {
    max-height: 305px;
    overflow-y: auto; }
    .y-dnd-validation-popup .y-content-list > .z-listbox-body > table {
      overflow: hidden; }
  .y-dnd-validation-popup .y-content-list .z-listitem:hover {
    background-color: inherit; }
  .y-dnd-validation-popup .y-content-list .z-listitem > .z-listcell {
    padding: 7px 0;
    border-color: #e0e9f0; }
    .y-dnd-validation-popup .y-content-list .z-listitem > .z-listcell:nth-child(2) {
      overflow: visible; }
      .y-dnd-validation-popup .y-content-list .z-listitem > .z-listcell:nth-child(2) .z-listcell-content {
        overflow: visible; }
  .y-dnd-validation-popup .y-content-list .z-listitem .z-listcell-content {
    margin: 0;
    padding: 0;
    white-space: pre-wrap; }
  .y-dnd-validation-popup .y-content-list .z-listitem.y-row-selected {
    background: #d5eeff; }
    .y-dnd-validation-popup .y-content-list .z-listitem.y-row-selected > .z-listcell {
      border-color: #ffffff; }
  .y-dnd-validation-popup .y-content-list .y-validation-overview-container .z-label {
    display: block; }
  .y-dnd-validation-popup .y-content-list .y-select-cell {
    vertical-align: baseline;
    position: relative;
    width: 60px; }
    .y-dnd-validation-popup .y-content-list .y-select-cell .z-listcell-content {
      margin: 0 5px 0 20px; }
  .y-dnd-validation-popup .y-content-list .y-validation-icon-cell {
    vertical-align: baseline;
    position: relative; }
    .y-dnd-validation-popup .y-content-list .y-validation-icon-cell .y-error,
    .y-dnd-validation-popup .y-content-list .y-validation-icon-cell .y-warn {
      width: 16px;
      height: 16px;
      background: url("images/icon_validation_sprite.png") -16px 0 no-repeat; }
    .y-dnd-validation-popup .y-content-list .y-validation-icon-cell .y-error {
      background-position: -32px 0; }
  .y-dnd-validation-popup .y-content-list td.y-validation-icon-cell {
    width: 60px; }
    .y-dnd-validation-popup .y-content-list td.y-validation-icon-cell .y-error,
    .y-dnd-validation-popup .y-content-list td.y-validation-icon-cell .y-warn {
      float: right; }
  .y-dnd-validation-popup .y-content-list .y-details-cell {
    text-align: right;
    width: 70px;
    vertical-align: baseline;
    position: relative; }
    .y-dnd-validation-popup .y-content-list .y-details-cell .z-listcell-content {
      line-height: 20px; }
  .y-dnd-validation-popup .y-content-list .y-show-details-btn {
    height: 16px;
    line-height: 16px;
    margin-right: 20px;
    display: inline-block;
    background: transparent; }
    .y-dnd-validation-popup .y-content-list .y-show-details-btn.y-expanded-details:after {
      content: ""; }
    .y-dnd-validation-popup .y-content-list .y-show-details-btn:after {
      content: "";
      color: #7f90a5;
      font-size: 16px;
      font-family: "FontAwesome", sans-serif;
      top: 0;
      right: 20px;
      display: inline-block;
      width: 100%;
      position: absolute; }
  .y-dnd-validation-popup .y-content-list .y-validation-icon-cell > .z-listcell-content,
  .y-dnd-validation-popup .y-content-list .y-details-cell > .z-listcell-content,
  .y-dnd-validation-popup .y-content-list .y-select-cell > .z-listcell-content {
    top: 10px;
    position: absolute;
    width: 100%; }
  .y-dnd-validation-popup .y-content-list .y-title {
    font-weight: bold;
    white-space: pre-line; }
  .y-dnd-validation-popup .y-content-list .y-message {
    font-size: 12px;
    white-space: pre-line;
    display: block !important; }

.yw-show-menu-action {
  height: 24px;
  width: 24px;
  background: url("../img/default/dots.png") no-repeat 0 0;
  padding-left: 8px;
  padding-right: 8px;
  display: inline-block; }
  .yw-show-menu-action.z-button {
    min-height: 24px; }
    .yw-show-menu-action.z-button:hover, .yw-show-menu-action.z-button:active, .yw-show-menu-action.z-button:focus {
      background-image: url("../img/default/dots.png");
      background-color: transparent;
      box-shadow: none; }
  .yw-show-menu-action-container {
    vertical-align: middle; }
  .yw-show-menu-action-content {
    display: inline-block;
    width: auto;
    height: auto; }
  .yw-show-menu-action:hover {
    background-position: 0 -24px;
    cursor: pointer; }
  .yw-show-menu-action-focus, .yw-show-menu-action-active {
    background-position: 0 -48px; }
  .yw-show-menu-action-disabled, .yw-show-menu-action-disabled:hover {
    background-position: 0 -72px;
    opacity: 0.5;
    cursor: default; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.yw-collaboration-center-overview > .yw-listLayout-container > .widget_children_list > .widget_cnt {
  background-color: #ffffff; }
.yw-collaboration-center-overview .yw-workflow-detailed-name span {
  display: block; }
.yw-collaboration-center-overview .yw-workflow-detailed-name .yw-workflow-currenttask {
  padding-top: 3px;
  font-size: 13px; }
.yw-collaboration-center-overview-workflows .yw-listview-actioncontainer .yw-listview-actionSlot {
  float: right; }
.yw-collaboration-center-overview-workflows .yw-workflowsearch-filters {
  margin: 0; }

.yw-collaboration-center-toolbar {
  background-color: #ffffff; }
  .yw-collaboration-center-toolbar .yw-navigationhistory-back {
    line-height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    float: left; }
  .yw-collaboration-center-toolbar .yw-navigationhistory-title {
    height: 32px;
    line-height: 32px;
    max-width: calc(100% - 100px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .yw-collaboration-center-toolbar .yw-navigationhistory-stack {
    vertical-align: top; }
  .yw-collaboration-center-toolbar .yw-collaboration-center-navigation-history {
    padding-top: 9px;
    padding-bottom: 9px; }
  .yw-collaboration-center-toolbar .yw-toolbar-horizontal {
    line-height: 50px;
    text-align: right; }
  .yw-collaboration-center-toolbar .yw-collaboration-center-center-toolbar .yw-toolbar-actions .cng-action-group {
    padding-right: 10px; }
  .yw-collaboration-center-toolbar .yw-collaboration-center-sidebar-header .yw-toolbar-actions .cng-action-group {
    padding-right: 25px; }
  .yw-collaboration-center-toolbar .yw-collaboration-center-sidebar-header .yw-toolbar-actions .z-hbox-separator {
    display: none; }

.yw-collaboration-center-browser,
.yw-collaboration-center-browser .yw-listview-bottom-bar {
  background-color: #ffffff; }
.yw-collaboration-center-browser .yw-listview-caption {
  padding: 8px 0; }
  .yw-collaboration-center-browser .yw-listview-caption .yw-listview-title {
    font-size: 19px;
    display: inline-block;
    text-transform: inherit; }
.yw-collaboration-center-browser .yw-workflow-status-container .z-span {
  margin-right: 5px; }
.yw-collaboration-center-browser.widget_body .yw-listview-actioncontainer {
  padding: 30px 30px 15px;
  display: inline-block;
  width: 100%; }
.yw-collaboration-center-browser .yw-listview-actioncontainer > .yw-listview-caption {
  display: inline-block;
  float: left;
  vertical-align: top;
  position: relative;
  z-index: 1; }
.yw-collaboration-center-browser .yw-listview-actioncontainer > .y-toolbar {
  padding-top: 8px;
  display: inline;
  border: none;
  overflow: visible; }
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-listview-actionSlot {
  min-height: 40px;
  display: inline-block;
  width: auto;
  float: right;
  position: relative;
  z-index: 1; }
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-toolbar-center-container .yw-fulltextsearch-container,
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-listview-actionSlot > .cng-action-group,
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-toolbar-center-container .yw-workflowsearch-filters {
  margin: 6px 0; }
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-listview-actionSlot > .cng-action-group,
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-toolbar-center-container .yw-workflowsearch-filters,
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-toolbar-center-container .yw-fulltextsearch-wrapper {
  margin-left: 10px;
  margin-right: 0; }
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-toolbar-center-container,
.yw-collaboration-center-browser .yw-listview-actioncontainer .yw-toolbar-center-container .yw-nested-widget {
  display: inline;
  float: none;
  position: relative;
  z-index: 0; }
.yw-collaboration-center-browser .yw-coll-browser-container,
.yw-collaboration-center-browser .yw-coll-browser-container > .z-listbox,
.yw-collaboration-center-browser .yw-coll-browser-container > .z-listbox > .z-listbox-body {
  height: auto !important; }
.yw-collaboration-center-browser .yw-coll-browser-container > .z-listbox > .z-listbox-body > table {
  margin-top: -1px; }
.yw-collaboration-center-browser .yw-coll-browser-container tr.z-listhead th:first-of-type .z-listheader-content,
.yw-collaboration-center-browser .yw-coll-browser-container tr.z-listitem > td:first-of-type .z-listcell-content {
  padding-left: 30px; }
.yw-collaboration-center-browser .yw-coll-browser-container tr.z-listhead th:nth-last-of-type(2) .z-listheader-content,
.yw-collaboration-center-browser .yw-coll-browser-container tr.z-listitem > td:last-of-type .z-listcell-content {
  padding-right: 30px; }
.yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body .z-listitem .z-listcell-content:before,
.yw-collaboration-center-browser .yw-coll-browser-container tr.z-listhead th.yw-listview-colheader:before {
  display: none; }
.yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-header-border {
  border-color: #e0e9f0; }
.yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body > table {
  border-bottom-color: #e0e9f0; }
.yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body .z-listitem .z-listcell {
  border-top: 1px solid #e0e9f0;
  vertical-align: top; }
.yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body .z-listitem .yw-show-menu-action-container {
  vertical-align: middle; }
  .yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body .z-listitem .yw-show-menu-action-container .z-listcell-content {
    line-height: 1;
    text-overflow: clip; }
.yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body .z-listitem:last-child, .yw-collaboration-center-browser .yw-coll-browser-container .z-listbox-body .z-listitem:last-child:hover {
  box-shadow: 0px 1px 0px #e0e9f0; }
.yw-collaboration-center-browser-header-toolbar {
  display: block; }
  .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar {
    display: inline; }
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-north {
      float: right;
      display: block;
      overflow: visible;
      width: auto;
      height: auto !important;
      float: right; }
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-north,
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-center {
      position: static;
      left: auto !important;
      top: auto !important; }
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-north,
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-center,
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-north > .z-north-body,
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-center > .z-center-body {
      width: auto !important;
      height: auto !important; }
    .yw-nested-widget > .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-center {
      margin-left: -30px;
      margin-right: -30px;
      padding-top: 45px;
      clear: both;
      display: block;
      width: 100%; }
  .yw-collaboration-center-browser-header-toolbar > .z-borderlayout {
    background: transparent;
    display: inline; }
    .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-north > .z-north-body,
    .yw-collaboration-center-browser-header-toolbar > .z-borderlayout > div > .z-north > .z-north-body > .widget_cnt {
      display: inline-block; }
    .yw-collaboration-center-browser-header-toolbar > .z-borderlayout .noBG.yw-layoutregion {
      background: transparent; }
.yw-collaboration-center-browser .yw-coll-browser-hyperlink {
  font-weight: bold; }

.yw-collaboration-center a {
  text-decoration: none; }
.yw-collaboration-center-styled {
  background-color: #f6f8fa;
  border-bottom: 1px solid #d2dae4; }
.yw-collaboration-center-container-view .yw-view-switch-views > .y-switch > .yw-borderlayout > .yw-borderlayout-bl,
.yw-collaboration-center-container-view .yw-view-switch-views > .y-switch > .yw-borderlayout > .yw-borderlayout-bl > div > .yw-layoutregion, .yw-collaboration-center-container-view .yw-collaboration-center-toolbar > .yw-borderlayout-bl,
.yw-collaboration-center-container-view .yw-collaboration-center-toolbar > .yw-borderlayout-bl > div > .yw-layoutregion {
  background-color: transparent; }
.yw-collaboration-center-container-view-container,
.yw-collaboration-center-container-view .yw-view-switch-container {
  background-color: #e0e9f0; }
.yw-collaboration-center-container-view > .z-borderlayout > div > .z-north {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5); }
.yw-collaboration-center-toggle img:hover, .yw-collaboration-center-toggle.yw-flexlayout-trigger, .yw-collaboration-center-toggle.cng-action-enabled img:hover {
  background: transparent; }
.yw-collaboration-center-toggle > tbody {
  display: block;
  text-align: center; }
.yw-collaboration-center-toggle table {
  width: 100%;
  table-layout: fixed; }
  .yw-collaboration-center-toggle table td {
    text-align: center; }
.yw-systemBarContainer .yw-statusToolbar .z-toolbarbutton .yw-collaboration-center-toggle {
  height: auto; }
.yw-collaboration-center-title {
  float: left;
  font-weight: bold;
  color: #000000; }
  .yw-collaboration-center-title .cng-action-text {
    cursor: text; }
.yw-collaboration-center-header .yw-toolbar-after,
.yw-collaboration-center-header .yw-toolbar-actions {
  padding: 15px 10px; }
.yw-collaboration-center-header .yw-toolbar-after {
  text-align: right;
  float: right; }
.yw-collaboration-center-header-toolbar .yw-toolbar-after,
.yw-collaboration-center-header-toolbar .yw-toolbar-actions {
  padding: 0; }
.yw-collaboration-center-header-toolbar .yw-toolbar-after {
  text-align: left;
  float: none; }
.yw-collaboration-center-header-toolbar-action {
  color: #0486e0; }
.yw-collaboration-center-tabs .z-tabpanel,
.yw-collaboration-center-tabs .yw-workflows-list-item .z-listcell {
  border-color: #d2dae4; }
.yw-collaboration-center-tabs .z-tabs-content {
  table-layout: fixed; }
  .yw-collaboration-center-tabs .z-tabs-content .z-tab-content {
    padding: 0 20px;
    display: inline-table; }
  .yw-collaboration-center-tabs .z-tabs-content .z-tab {
    display: table-cell;
    float: none;
    padding: 0; }
.yw-collaboration-center-tabs .z-tabs {
  background-color: #f6f8fa;
  border-bottom: 1px solid #d2dae4; }
  .yw-collaboration-center-tabs .z-tabs .z-tab .z-tab-text {
    padding: 20px 5px 10px; }
.yw-collaboration-center-tabs .z-tabpanel {
  border-left: 0;
  border-right: 0; }
  .yw-collaboration-center-tabs .z-tabpanel > .widget_cnt {
    overflow: auto; }
.yw-collaboration-center-tabs .yw-collaboration-center-tab-workflows .z-tabs-content .z-tab {
  border-left: 1px solid #d2dae4;
  background-color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding: 0; }
  .yw-collaboration-center-tabs .yw-collaboration-center-tab-workflows .z-tabs-content .z-tab:first-child, .yw-collaboration-center-tabs .yw-collaboration-center-tab-workflows .z-tabs-content .z-tab:nth-child(odd) {
    border-left: none; }
  .yw-collaboration-center-tabs .yw-collaboration-center-tab-workflows .z-tabs-content .z-tab-text {
    text-transform: lowercase;
    padding-bottom: 20px;
    border-bottom: 2px solid transparent; }
  .yw-collaboration-center-tabs .yw-collaboration-center-tab-workflows .z-tabs-content .z-tab-selected .z-tab-text {
    border-bottom: 2px solid #0486e0; }
.yw-collaboration-center-tabs .yw-collaboration-center-tab-workflows .z-tab-content {
  width: 100%;
  padding: 0; }
.yw-collaboration-center-task-item-toolbar .yw-toolbar-content > .yw-toolbar-actions {
  float: right; }
.yw-collaboration-center-sidebar-header .yw-toolbar-actions {
  float: left; }
.yw-collaboration-center-sidebar-header .ya-three-dots-group-cnt {
  float: right; }
.yw-collaboration-center-task-quicklist, .yw-collaboration-center-task-quicklist-header-title {
  box-shadow: inset 1px 0 0 0 #d5d8dc; }
.yw-collaboration-center-task-quicklist-header .yw-toolbar {
  padding: 0;
  height: 100%;
  line-height: 1; }
  .yw-collaboration-center-task-quicklist-header .yw-toolbar-content {
    display: inline-table;
    vertical-align: top;
    height: 100%; }
  .yw-collaboration-center-task-quicklist-header .yw-toolbar .yw-toolbar-content .yw-toolbar-actions {
    display: table-cell; }
.yw-collaboration-center-task-quicklist-header-title {
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  color: #000000; }
  .yw-collaboration-center-task-quicklist-header-title .cng-action-text {
    padding: 0 20px;
    max-width: 350px;
    text-overflow: ellipsis;
    overflow: hidden; }
.yw-collaboration-center-task-quicklist-toolbar {
  background-color: #ffffff;
  box-shadow: inset 1px 1px 0 0 #d5d8dc;
  padding-left: 1px; }
  .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-selected-decision {
    display: table;
    width: 100%; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-selected-decision .z-combobox-input,
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-selected-decision .z-combobox-button {
      border-color: transparent; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-selected-decision .z-combobox-button {
      border-right-color: #d5d8dc; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-selected-decision .z-combobox-input:focus,
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-selected-decision .z-combobox-input:focus + .z-combobox-button {
      border-color: #0486e0; }
  .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container {
    display: inline-table;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-hlayout-inner {
      display: table-cell;
      width: initial;
      padding: 0 !important; }
      .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-hlayout-inner:first-child {
        width: 100%; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button, .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button:focus, .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button:hover, .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button:active {
      background-color: transparent;
      box-shadow: none;
      color: inherit; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button:hover {
      color: #0486e0; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button[disabled], .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button[disabled]:hover, .yw-collaboration-center-task-quicklist-toolbar .yw-workflowaction-decision-container .z-button[disabled]:active {
      background-color: transparent !important; }
  .yw-collaboration-center-task-quicklist-toolbar .yw-toolbar-actions .cng-action-group {
    width: 100%;
    table-layout: fixed; }
    .yw-collaboration-center-task-quicklist-toolbar .yw-toolbar-actions .cng-action-group table {
      width: 100%; }
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox .z-tabbox-content-wrapper {
  padding: 0;
  display: block;
  position: relative; }
  .yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox .z-tabbox-content-wrapper .z-tabbox-content {
    margin: 0; }
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox.yw-static-section-active > .z-tabbox-content-wrapper, .cng-adminmode .yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox > .z-tabbox-content-wrapper {
  display: block; }
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .ye-instant-editor-attribute-label,
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell-label {
  color: #000000;
  font-weight: bold; }
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .z-tabbox-static-section {
  background-color: #f4f7fa; }
  .yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .z-tabbox-static-section .yw-summaryview {
    background: transparent; }
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .z-groupbox-header .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-caption .z-caption-content {
  font-size: 19px;
  font-weight: normal;
  line-height: 1;
  text-transform: none; }
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox-tabpanels-tabpanel .ye-instant-editor-component-visible.z-label {
  line-height: 16px;
  margin-bottom: 8px;
  white-space: pre-line; }
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox-tabpanels-tabpanel .ye-instant-editor-attribute-label:empty {
  display: none; }
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-static-section-slot > .widget_body,
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-editorarea-tabbox-tabpanels {
  padding-top: 22px; }
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-summaryview-section-container.z-groupbox-notitle {
  padding-bottom: 30px; }
  .yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-summaryview-section-container.z-groupbox-notitle:last-child {
    padding-bottom: 0; }
.yw-collaboration-center-details-workflow-details .yw-editor-area-main-content .yw-summaryview-section-container-content .yw-summaryview-icon-item-icon {
  top: 20px; }
.yw-collaboration-center-details-workflow-details > .yw-editorarea-body > .z-vlayout-inner,
.yw-collaboration-center-details-workflow-details > .yw-editorarea-body > .z-vlayout-inner > .yw-editor-area-main-content {
  display: inline; }
.yw-collaboration-center-details .yw-workflow-detailed-novalue {
  font-style: italic; }

.yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-sidebar-right:not(.yw-flexlayout-sidebar-collapsed) > .yw-flexlayout-sidebar {
  transform: translateX(410px); }
.yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-sidebar-right.yw-flexlayout-sidebar-opened > .yw-flexlayout-sidebar {
  transform: translateX(0); }
.yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-rootpane > .yw-flexlayout-sidebar {
  z-index: 99;
  background-color: #fcfdfe;
  width: 410px;
  max-width: 410px;
  height: 100%;
  right: 0; }
  .yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-rootpane > .yw-flexlayout-sidebar > .widget_cnt {
    overflow: hidden;
    padding-left: 5px;
    margin-left: -5px; }
    .yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-rootpane > .yw-flexlayout-sidebar > .widget_cnt > .widget_body {
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5); }
  .yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-rootpane > .yw-flexlayout-sidebar > .yw-flexlayout-sidebar-header {
    z-index: 17; }
.yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-sidebar-opened > .yw-flexlayout-contents {
  width: calc(100% - 410px); }
.yw-perspective-viewswitcher-container-collaboration > .yw-flexlayout-sidebar-opened.yw-flexlayout-sidebar-overlap > .yw-flexlayout-contents {
  width: 100%; }

.yw-summaryview-workflows-attachments {
  background-image: url("../images/icon-summaryView-paperclip.svg"); }
.yw-summaryview-workflows-tasks {
  background-image: url("../images/icon-summaryView-pending.svg"); }
.yw-summaryview-workflows-status {
  background-image: url("../images/icon-summaryView-check.svg"); }
.yw-summaryview-workflows-flow {
  background-image: url("../images/icon-summaryView-create.svg"); }

.yw-summaryview-workflow-task-button {
  display: block;
  padding-bottom: 4px; }

div.yw-editorarea-box-main {
  margin-right: 20px;
  display: table;
  table-layout: fixed; }
div.yw-editorarea-box-col {
  border: 1px solid #bdc6d2;
  padding: 20px;
  width: 190px;
  min-height: 110px;
  border-left-width: 0;
  display: table-cell;
  float: left; }
  div.yw-editorarea-box-col:first-child {
    border-left-width: 1px; }

.y-editor-area-attributes-cnt-max .z-groupbox-content div.yw-editorarea-box-main,
.y-editor-area-attributes-cnt-avg .z-groupbox-content div.yw-editorarea-box-main {
  width: 49%;
  margin-right: 1%;
  padding: 0;
  border: 0; }
.y-editor-area-attributes-cnt-max .z-groupbox-content div.yw-editorarea-box-col,
.y-editor-area-attributes-cnt-avg .z-groupbox-content div.yw-editorarea-box-col {
  width: 50%;
  padding: 12px 10px 11px; }

.y-editor-area-attributes-cnt-min .z-groupbox-content div.yw-editorarea-box-main {
  width: 100%;
  margin-right: 0;
  displaY: block;
  padding: 0;
  border: 0; }
.y-editor-area-attributes-cnt-min .z-groupbox-content div.yw-editorarea-box-col {
  width: 100%;
  padding: 12px 10px 11px;
  border-width: 0 1px 1px;
  display: block; }
  .y-editor-area-attributes-cnt-min .z-groupbox-content div.yw-editorarea-box-col:first-child {
    border-width: 1px; }

.yw-editorarea-box-head.z-label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #1e2830;
  display: block; }

.yw-editorarea-box-row.z-label {
  margin-top: 5px;
  margin-bottom: 0;
  display: block; }

.yw-editorarea-editlink.z-button {
  color: #0486e0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 15px;
  background: url("../images/workflow/icon-workflow-edit.svg") center no-repeat;
  background-position: left;
  text-transform: none;
  display: block;
  clear: both; }
  .yw-editorarea-editlink.z-button:hover, .yw-editorarea-editlink.z-button:focus, .yw-editorarea-editlink.z-button:active {
    box-shadow: none;
    text-decoration: underline; }

/* Small Window */
/*** MIXINS ***/
.y-attributepicker-greyout-area {
  background-color: rgba(30, 40, 48, 0.85);
  position: absolute;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  animation: prompt-animation 0.2s linear; }
  .y-attributepicker-greyout-area .z-label {
    margin-top: -10px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: inline-block; }
.yw-modal-configurableFlow .yw-wizard-content > .y-attributepicker {
  margin: -10px 0; }
  .yw-modal-configurableFlow .yw-wizard-content > .y-attributepicker .y-attributepicker-main {
    margin: 0 -20px;
    width: calc(100% + 40px); }
    .yw-modal-configurableFlow .yw-wizard-content > .y-attributepicker .y-attributepicker-main:first-child .y-attributepicker-main-container {
      border-top-width: 0; }
  .yw-modal-configurableFlow .yw-wizard-content > .y-attributepicker .y-attributepicker-inclusion-notifier {
    top: 40px;
    bottom: 0;
    height: auto; }
  .yw-modal-configurableFlow .yw-wizard-content > .y-attributepicker .y-attributepicker-select-options-container {
    height: 40px;
    overflow: hidden; }
.y-attributepicker-choose-buttons {
  vertical-align: middle;
  padding: 0 10px;
  border: 2px solid #cccccc;
  border-width: 0 2px; }
  .y-attributepicker-choose-buttons .z-button {
    font-weight: normal;
    border: 1px solid #0486e0;
    background-color: transparent;
    color: #0486e0;
    margin-top: 10px;
    border-radius: 2px;
    width: 100%;
    display: block; }
    .y-attributepicker-choose-buttons .z-button:hover, .y-attributepicker-choose-buttons .z-button:focus, .y-attributepicker-choose-buttons .z-button:active {
      background-color: #0486e0;
      color: #ffffff;
      border-color: #0486e0;
      outline: none;
      box-shadow: none; }
    .y-attributepicker-choose-buttons .z-button:first-child {
      margin-top: 0; }
    .y-attributepicker-choose-buttons .z-button[disabled] {
      border-color: transparent !important; }
.y-attributepicker-add-btn {
  padding-right: 30px;
  position: relative; }
  .y-attributepicker-add-btn:after {
    content: "";
    margin-right: 15px;
    font-family: "FontAwesome", sans-serif;
    position: absolute;
    right: 0; }
.y-attributepicker-remove-btn {
  padding-left: 30px;
  position: relative; }
  .y-attributepicker-remove-btn:before {
    content: "";
    margin-left: 15px;
    font-family: "FontAwesome", sans-serif;
    position: absolute;
    left: 0; }
.y-attributepicker-localized td, .y-attributepicker-localized-child td {
  text-align: right; }
  .y-attributepicker-localized td div, .y-attributepicker-localized-child td div {
    width: 100%; }
  .y-attributepicker-localized td span, .y-attributepicker-localized-child td span {
    text-align: left; }
.y-attributepicker-localized .z-tree-icon {
  float: right;
  position: absolute;
  right: 0; }
  .y-attributepicker-localized .z-tree-icon > i {
    color: #7f90a5;
    margin-right: 10px;
    line-height: 16px;
    margin-top: -8px;
    background: transparent;
    position: relative;
    top: 50%;
    float: right; }
    .y-attributepicker-localized .z-tree-icon > i:after {
      width: 16px;
      height: 16px;
      right: -2px;
      margin-top: -8px;
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%; }
    .y-attributepicker-localized .z-tree-icon > i:before {
      font-family: "FontAwesome", sans-serif;
      line-height: 16px;
      content: "";
      margin-right: 16px; }
  .y-attributepicker-localized .z-tree-icon > .z-tree-open:before {
    content: ""; }
  .y-attributepicker-localized .z-tree-icon + .z-label {
    padding-right: 38px; }
.y-attributepicker-localized.z-treerow-selected .z-tree-icon > i {
  color: #0486e0; }
  .y-attributepicker-localized.z-treerow-selected .z-tree-icon > i:after {
    background-position: 0 -16px; }
.y-attributepicker-localized .z-treecell-content {
  position: relative; }
.y-attributepicker-localized-child span.z-label {
  padding-right: 51px; }
.y-attributepicker-localized-child span.y-attributepicker-language {
  border: 1px solid #0486e0;
  border-radius: 3px;
  padding: 2px;
  margin: -12px 6px -3px 0;
  min-width: 45px;
  background-color: #b3daf6;
  text-align: center;
  top: 50%;
  right: 0;
  position: absolute;
  display: inline-block; }
.y-attributepicker-localized-child .z-treecell-content {
  padding: 3px 0;
  position: relative; }
.y-attributepicker-main {
  position: relative; }
.y-attributepicker-main-container {
  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  display: table;
  position: relative;
  box-sizing: border-box;
  table-layout: fixed;
  width: 100%; }
  .yw-modal-configurableFlow .yw-wizard-content .y-attributepicker-main-container {
    min-height: 250px;
    height: 1px; }
  .y-attributepicker-main-container > div {
    display: table-cell; }
  .y-attributepicker-main-container > .y-attributepicker-greyout-area {
    display: inline-block;
    position: absolute; }
.y-attributepicker .y-attributepicker-selected-values-container .y-attributepicker-values-tree {
  margin-right: -20px;
  margin-left: -20px; }
  .y-attributepicker .y-attributepicker-selected-values-container .y-attributepicker-values-tree .z-tree-header-border:before {
    left: 20px; }
.y-attributepicker .y-attributepicker-selected-values-container,
.y-attributepicker .y-attributepicker-selected-values-container .y-attributepicker-values-tree > .z-tree-body {
  padding-right: 20px;
  padding-left: 20px; }
.y-attributepicker .y-attributepicker-available-values-container .y-attributepicker-values-tree {
  margin-left: -20px;
  margin-right: -20px; }
  .y-attributepicker .y-attributepicker-available-values-container .y-attributepicker-values-tree .z-tree-header-border:before {
    right: 20px; }
.y-attributepicker .y-attributepicker-available-values-container,
.y-attributepicker .y-attributepicker-available-values-container .y-attributepicker-values-tree > .z-tree-body {
  padding-left: 20px;
  padding-right: 20px; }
.y-attributepicker .y-attributepicker-available-values-container,
.y-attributepicker .y-attributepicker-selected-values-container {
  padding-top: 10px;
  width: 40%; }
.y-attributepicker .y-attributepicker-values-filter {
  margin: 8px 0 10px; }
.y-attributepicker .y-attributepicker-values-label {
  font-weight: bold; }
.y-attributepicker .y-attributepicker-values-tree .z-tree-header-border:before {
  content: "";
  color: #ffffff;
  right: 0;
  left: 0;
  height: 0;
  box-shadow: 0 0 5px 3px;
  position: absolute;
  z-index: 1; }
.y-attributepicker .y-attributepicker-values-tree .z-treecell {
  margin-bottom: 5px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 10px 4px;
  display: inline-block;
  width: 100%; }
  .y-attributepicker .y-attributepicker-values-tree .z-treecell span,
  .y-attributepicker .y-attributepicker-values-tree .z-treecell button {
    display: table-cell;
    vertical-align: middle; }
  .y-attributepicker .y-attributepicker-values-tree .z-treecell .z-label {
    float: left; }
  .y-attributepicker .y-attributepicker-values-tree .z-treecell .z-tree-spacer {
    display: none; }
.y-attributepicker .y-attributepicker-values-tree > .z-tree-body {
  max-height: 550px;
  height: auto !important;
  padding-top: 5px;
  overflow: auto; }
.y-attributepicker .y-attributepicker-values-tree .y-attributepicker-level-2 .z-treecell {
  width: calc(100% - 25px);
  margin-left: 25px; }
.y-attributepicker .y-attributepicker-values-tree .y-attributepicker-level-3 .z-treecell {
  width: calc(100% - 50px);
  margin-left: 50px; }
.y-attributepicker .y-attributepicker-values-tree .y-attributepicker-level-4 .z-treecell {
  width: calc(100% - 75px);
  margin-left: 75px; }
.y-attributepicker .y-attributepicker-values-tree .y-attributepicker-level-5 .z-treecell {
  width: calc(100% - 100px);
  margin-left: 100px; }
.y-attributepicker .y-attributepicker-values-tree span.z-treerow-checkbox {
  width: 24px;
  padding-left: 3px;
  border: none;
  background: transparent;
  text-align: center; }
.y-attributepicker .y-attributepicker-values-tree .z-treerow-selected > .z-treecell .z-treerow-checkable .z-treerow-icon.z-icon-check {
  color: #0486e0;
  margin-top: -7px;
  display: inline-block;
  top: auto; }
.y-attributepicker .y-attributepicker-values-tree .y-attributepicker-mandatory-item .z-treerow-checkable .z-treerow-icon {
  display: inline-block; }
.y-attributepicker .y-attributepicker-values-tree .y-attributepicker-mandatory-item > .z-treecell {
  background-color: rgba(247, 247, 247, 0.5); }
  .y-attributepicker .y-attributepicker-values-tree .y-attributepicker-mandatory-item > .z-treecell .z-treerow-checkable .z-treerow-icon.z-icon-check {
    color: #cccccc;
    margin-top: -7px;
    line-height: normal;
    text-align: center;
    position: relative;
    top: auto; }
.y-attributepicker-mandatory-item .z-label:after {
  margin-left: 2px;
  content: "*";
  display: inline-block; }
.y-attributepicker-expand-button {
  min-height: 18px;
  height: 18px; }

@keyframes prompt-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@media screen and (min-height: 540px) {
  .yw-modal-configurableFlow .y-attributepicker-values-tree > .z-tree-body {
    max-height: calc(100vh - 386px); } }
@media screen and (min-height: 680px) {
  .yw-modal-configurableFlow .y-attributepicker-values-tree > .z-tree-body {
    max-height: calc(100vh - 430px); } }

.yw-modal-configurableFlow-small .y-attributepicker-main-container {
  display: block;
  table-layout: unset;
  width: 100%; }
  .yw-modal-configurableFlow-small .y-attributepicker-main-container > div {
    display: block; }
.yw-modal-configurableFlow-small .y-attributepicker-values-tree > .z-tree-body {
  max-height: 300px; }
.yw-modal-configurableFlow-small .y-attributepicker-available-values-container, .yw-modal-configurableFlow-small .y-attributepicker-selected-values-container {
  width: 100%; }
.yw-modal-configurableFlow-small .y-attributepicker-choose-buttons {
  padding: 10px 10px;
  border-width: 2px 0;
  text-align: center; }
.yw-modal-configurableFlow-small .y-attributepicker-choose-buttons .z-button {
  margin-top: 0;
  max-width: 40%;
  display: inline-block; }
.yw-modal-configurableFlow-small .y-attributepicker-remove-btn {
  margin-right: 15px; }
  .yw-modal-configurableFlow-small .y-attributepicker-remove-btn:before {
    content: ""; }
.yw-modal-configurableFlow-small .y-attributepicker-add-btn:after {
  content: ""; }

/* Small Window */
/*** MIXINS ***/
.yw-excel-import-wizard-component {
  margin: 15px 0; }
  .yw-excel-import-wizard-component.z-groupbox .z-groupbox-content {
    padding-left: 0;
    padding-right: 0; }
  .yw-excel-import-wizard-component:last-child {
    margin-bottom: 0; }
.yw-excel-import-wizard-fileupload {
  border: 1px solid #0486e0;
  background-color: transparent;
  color: #0486e0;
  width: 100%;
  display: block; }
  .yw-excel-import-wizard-fileupload:hover, .yw-excel-import-wizard-fileupload:focus.yw-excel-import-wizard-fileupload:hover, .yw-excel-import-wizard-fileupload:active {
    background-color: #0486e0;
    color: #ffffff;
    border-color: #0486e0;
    outline: none;
    box-shadow: none; }
  .yw-excel-import-wizard-fileupload:focus {
    border: 1px solid #0486e0;
    background-color: transparent;
    color: #0486e0; }
.yw-excel-import-wizard-drop-anchor, .yw-excel-import-wizard-drop-upload {
  height: 140px;
  box-sizing: border-box; }
.yw-excel-import-wizard-drop-anchor {
  border: 1px dashed #818ea2;
  border-radius: 3px;
  background-color: transparent;
  color: #818ea2;
  text-align: center;
  display: inline-table;
  width: 100%; }
  .yw-excel-import-wizard-drop-anchor .z-label {
    padding-left: 120px;
    color: inherit;
    display: table-cell;
    vertical-align: middle;
    position: relative; }
    .yw-excel-import-wizard-drop-anchor .z-label:before {
      width: 120px;
      height: 48px;
      margin-top: 10px;
      margin-left: -120px;
      background: url("../images/excel/icon_upload-file-area.svg") no-repeat 0 0;
      transform: translateY(-50%);
      left: 50%;
      position: absolute;
      display: inline-block;
      content: ""; }
.yw-excel-import-wizard-drop-upload {
  background: transparent; }
  .yw-excel-import-wizard-drop-upload + .yw-excel-import-wizard-drop-anchor {
    background-color: #f6f8fa; }
  .yw-excel-import-wizard-drop-upload[style*="display: none"] + .yw-excel-import-wizard-drop-anchor {
    background-color: transparent;
    border-color: #818ea2; }
  .yw-excel-import-wizard-drop-upload > div {
    display: none; }
.yw-excel-import-wizard-attachments {
  border-top: 1px solid #cccccc;
  padding: 5px 0; }
  .yw-excel-import-wizard-attachments:first-child {
    border-top: none; }
  .yw-excel-import-wizard-attachments a {
    color: darkslategray;
    font-size: 12px;
    text-decoration: none; }
    .yw-excel-import-wizard-attachments a .z-icon-paperclip {
      margin-right: 5px; }
  .yw-excel-import-wizard-attachments-btn {
    display: inline-block;
    float: right;
    width: 24px;
    height: 24px;
    min-height: 24px; }
    .yw-excel-import-wizard-attachments-btn, .yw-excel-import-wizard-attachments-btn:hover, .yw-excel-import-wizard-attachments-btn:focus, .yw-excel-import-wizard-attachments-btn:active {
      background: transparent;
      padding: 0;
      box-shadow: none;
      border: none; }
  .yw-excel-import-wizard-attachments span {
    height: 24px;
    line-height: 24px;
    max-width: calc(100% - 29px);
    display: inline-block; }

/* Small Window */
/*** MIXINS ***/
.yw-excel-validation-result-container .z-listitem {
  border-top: 1px solid #d5d8dc; }
  .yw-excel-validation-result-container .z-listitem .z-listcell-content {
    padding-left: 20px;
    padding-right: 20px; }
  .yw-excel-validation-result-container .z-listitem:hover {
    background-color: #e1f3ff; }
  .yw-excel-validation-result-container .z-listitem:first-child {
    border-top-width: 0; }
.yw-excel-validation-result-container,
.yw-excel-validation-result-container .z-listbox {
  border-color: #d5d8dc; }
.yw-excel-validation-result-container .z-listbox {
  max-height: 500px;
  overflow-y: auto; }
.yw-modal-configurableFlow .yw-wizard-content > .yw-excel-validation-result-container {
  margin: -10px -20px;
  border-width: 0; }
  .yw-modal-configurableFlow .yw-wizard-content > .yw-excel-validation-result-container .z-listbox {
    border-width: 1px 0 0; }
.yw-excel-validation-result-report {
  background-color: #fcdf2b;
  color: #27394f;
  display: block;
  font-weight: 500;
  margin: 10px auto; }
  .yw-excel-validation-result-report:hover, .yw-excel-validation-result-report:focus {
    background-color: #ffeb08;
    color: #27394f; }
.yw-excel-validation-result-subtitle {
  font-weight: bold;
  font-size: 16px;
  color: #ff3b30; }
  .yw-excel-validation-result-subtitle-container {
    padding: 15px 36px 15px 20px;
    position: relative; }
  .yw-excel-validation-result-subtitle:after {
    background: url("images/icon_validation_sprite.png") -32px 0 no-repeat;
    height: 16px;
    width: 16px;
    right: 24px;
    position: absolute;
    content: ""; }
.yw-excel-validation-result-row-header {
  padding-right: 18px;
  position: relative; }
  .yw-excel-validation-result-row-header .y-show-details-btn-expanded,
  .yw-excel-validation-result-row-header .y-show-details-btn {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-right: 2px;
    position: absolute;
    top: 50%;
    right: 0; }
    .yw-excel-validation-result-row-header .y-show-details-btn-expanded:after,
    .yw-excel-validation-result-row-header .y-show-details-btn:after {
      color: #043263;
      font-size: 21px;
      line-height: 16px;
      font-family: "FontAwesome", sans-serif;
      content: "";
      width: 16px;
      text-align: center; }
  .yw-excel-validation-result-row-header .y-show-details-btn-expanded:after {
    content: ""; }
  .yw-excel-validation-result-row-header-title {
    font-weight: bold;
    font-size: 14px;
    display: block; }
  .yw-excel-validation-result-row-header-subtitle {
    font-size: 12px;
    display: block; }
.yw-excel-validation-result-row-details {
  padding-top: 5px;
  height: 100%;
  width: 100%; }
  .yw-excel-validation-result-row-details ul {
    padding: 0; }
  .yw-excel-validation-result-row-details-cell {
    list-style: none;
    margin-top: 15px; }
    .yw-excel-validation-result-row-details-cell span.z-label {
      font-size: 12px;
      white-space: normal;
      word-break: break-all; }
    .yw-excel-validation-result-row-details-cell span.z-label.yw-excel-validation-result-row-details-cell-column-header {
      font-weight: bold; }
      .yw-excel-validation-result-row-details-cell span.z-label.yw-excel-validation-result-row-details-cell-column-header-info {
        color: #0486e0; }
      .yw-excel-validation-result-row-details-cell span.z-label.yw-excel-validation-result-row-details-cell-column-header-warn {
        color: #ff9914; }
      .yw-excel-validation-result-row-details-cell span.z-label.yw-excel-validation-result-row-details-cell-column-header-error {
        color: #ff3b30; }

.bulkedit-attr {
  padding-top: 24px;
  margin: 0;
  display: table;
  width: 100%;
  overflow: hidden; }
  .bulkedit-attr-cnt {
    -ms-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -webkit-box-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: auto;
    margin: 0 -20px;
    padding: 0 20px; }
    body.ie .bulkedit-attr-cnt {
      min-height: 190px;
      max-height: 360px; }
      @media screen and (min-height: 720px) {
        body.ie .bulkedit-attr-cnt {
          max-height: calc(100vh - 360px); } }
  .bulkedit-attr-name {
    min-width: 130px;
    padding-right: 10px;
    display: table-cell;
    vertical-align: top;
    padding-top: 10px; }
  .bulkedit-attr-value {
    display: table-cell;
    position: relative;
    width: 100%; }
    .bulkedit-attr-value .ye-validation-panel,
    .bulkedit-attr-value .yw-loceditor-fixed-closed .yw-loceditor-caption,
    .bulkedit-attr-value .yw-loceditor-fixed-open .yw-loceditor-caption {
      margin-top: -20px;
      position: absolute;
      right: 0; }
    .bulkedit-attr-value > .z-div:last-child {
      padding-bottom: 10px; }
  .bulkedit-attr-clear-switch {
    min-width: 120px;
    padding-left: 10px;
    display: table-cell;
    vertical-align: top; }
    .bulkedit-attr-clear-switch .ye-switch-checkbox.z-checkbox input:checked + label:before {
      background: #ff3b30;
      border-color: #ff3b30; }
.bulkedit-validate-all-attributes-cnt {
  -ms-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0;
  -webkit-box-flex: 0;
  flex: 0;
  margin: 0 -20px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-top: 1px solid #cccccc; }
  body.ie .bulkedit-validate-all-attributes-cnt {
    height: 60px;
    min-height: 60px;
    overflow: hidden;
    white-space: nowrap; }
    body.ie .bulkedit-validate-all-attributes-cnt:empty {
      height: 0;
      min-height: 0; }
.bulkedit-validate-all-attributes-switch label {
  padding-right: 10px; }
.bulkedit-validate-all-attributes-help-icon {
  margin: 0; }
.bulkedit-validate-all-attributes-popup .z-popup-content {
  margin: 10px;
  width: 350px; }
.yw-modal-configurableFlow .bulkedit-content.yw-wizard-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0; }
  body.ie .yw-modal-configurableFlow .bulkedit-content.yw-wizard-content {
    min-height: 250px;
    max-height: 420px; }
    @media screen and (min-height: 720px) {
      body.ie .yw-modal-configurableFlow .bulkedit-content.yw-wizard-content {
        max-height: calc(100vh - 300px); } }

.yw-bulkedit-validation-result-container .z-listitem {
  border-top: 1px solid #d5d8dc; }
  .yw-bulkedit-validation-result-container .z-listitem .z-listcell-content {
    padding-left: 20px;
    padding-right: 20px; }
  .yw-bulkedit-validation-result-container .z-listitem:hover {
    background-color: #e1f3ff; }
  .yw-bulkedit-validation-result-container .z-listitem:first-child {
    border-top-width: 0; }
.yw-bulkedit-validation-result-container,
.yw-bulkedit-validation-result-container .z-listbox {
  border-color: #d5d8dc; }
.yw-bulkedit-validation-result-container .z-listbox {
  max-height: 500px;
  overflow-y: auto; }
.yw-modal-configurableFlow .yw-wizard-content > .yw-bulkedit-validation-result-container {
  margin: -10px -20px;
  border-width: 0; }
  .yw-modal-configurableFlow .yw-wizard-content > .yw-bulkedit-validation-result-container .z-listbox {
    border-width: 1px 0 0; }
.yw-bulkedit-validation-result-report {
  background-color: #fcdf2b;
  color: #27394f;
  display: block;
  font-weight: 500;
  margin: 10px auto; }
  .yw-bulkedit-validation-result-report:hover, .yw-bulkedit-validation-result-report:focus {
    background-color: #ffeb08;
    color: #27394f; }
.yw-bulkedit-validation-result-subtitle {
  font-weight: bold;
  font-size: 16px;
  color: #ff3b30; }
  .yw-bulkedit-validation-result-subtitle-container {
    padding: 15px 36px 15px 20px;
    position: relative; }
  .yw-bulkedit-validation-result-subtitle:after {
    background: url("images/icon_validation_sprite.png") -32px 0 no-repeat;
    height: 16px;
    width: 16px;
    right: 24px;
    position: absolute;
    content: ""; }
.yw-bulkedit-validation-result-row-header {
  padding-right: 18px;
  position: relative; }
  .yw-bulkedit-validation-result-row-header .y-show-details-btn-expanded,
  .yw-bulkedit-validation-result-row-header .y-show-details-btn {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-right: 2px;
    position: absolute;
    top: 50%;
    right: 0; }
    .yw-bulkedit-validation-result-row-header .y-show-details-btn-expanded:after,
    .yw-bulkedit-validation-result-row-header .y-show-details-btn:after {
      color: #043263;
      font-size: 21px;
      line-height: 16px;
      font-family: "FontAwesome", sans-serif;
      content: "";
      width: 16px;
      text-align: center; }
  .yw-bulkedit-validation-result-row-header .y-show-details-btn-expanded:after {
    content: ""; }
  .yw-bulkedit-validation-result-row-header-title {
    font-weight: bold;
    font-size: 14px;
    display: block; }
  .yw-bulkedit-validation-result-row-header-subtitle {
    font-size: 12px;
    display: block; }
.yw-bulkedit-validation-result-row-details {
  padding-top: 5px;
  height: 100%;
  width: 100%; }
  .yw-bulkedit-validation-result-row-details ul {
    padding: 0; }
  .yw-bulkedit-validation-result-row-details-cell {
    list-style: none;
    margin-top: 15px; }
    .yw-bulkedit-validation-result-row-details-cell span.z-label {
      font-size: 12px;
      white-space: normal;
      word-break: break-all; }
    .yw-bulkedit-validation-result-row-details-cell span.z-label.yw-bulkedit-validation-result-row-details-cell-column-header {
      font-weight: bold; }
      .yw-bulkedit-validation-result-row-details-cell span.z-label.yw-bulkedit-validation-result-row-details-cell-column-header-info {
        color: #0486e0; }
      .yw-bulkedit-validation-result-row-details-cell span.z-label.yw-bulkedit-validation-result-row-details-cell-column-header-warn {
        color: #ff9914; }
      .yw-bulkedit-validation-result-row-details-cell span.z-label.yw-bulkedit-validation-result-row-details-cell-column-header-error {
        color: #ff3b30; }

button.z-button.y-btn-warning {
  background-color: #ff3b30;
  border: medium none;
  border-radius: 0;
  color: #ffffff !important;
  cursor: pointer;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 100 !important;
  line-height: 25px;
  margin-left: 0;
  padding: 0 15px; }

.mediaInfoHeader {
  font-weight: bold; }

.mediaInfoCnt {
  float: left;
  width: 332px; }

.previewPlaceholder {
  width: 300px;
  display: inline-block;
  text-align: center; }

.previewPlaceholder .z-image {
  margin: auto; }

.small-image-preview-cnt img {
  display: block;
  height: auto;
  max-width: 100%;
  z-index: 2000;
  border: 1px solid #b7b7b7;
  border-radius: 1px; }

.yw-collection-preview-cnt {
  background: #d5d8dc; }
.yw-collection-preview > div.z-listbox-body {
  background: #f6f8fa; }
.yw-collection-preview > div.z-listbox {
  border: none; }
.yw-collection-preview > div.z-listboxdiv .z-listbox-body .z-listitem {
  background: none; }

.ya-com_hybris_cockpitng_actions_scriptingaction {
  padding: 6px; }

.yw-desc-tooltip {
  max-width: 300px; }

.yw-image-attribute-sync-status-in-sync {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-sync-status-in-sync:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background: url("../images/sync/icon_status_sync_insync.svg") center no-repeat; }
.yw-image-attribute-sync-status-out-of-sync {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-sync-status-out-of-sync:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background: url("../images/sync/icon_status_sync_outofsync.svg") center no-repeat; }
.yw-image-attribute-sync-status-undefined {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-sync-status-undefined:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background: url("../images/sync/icon_status_sync_undefined.svg") center no-repeat; }
.yw-image-attribute-sync-status-error {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-sync-status-error:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background: url("../images/sync/icon_status_sync_error.svg") center no-repeat; }
.yw-image-attribute-sync-status-no-read {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-sync-status-no-read:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background: url("../images/sync/icon_status_sync_no-read-access.svg") center no-repeat; }
.yw-image-attribute-sync-status-loading {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-sync-status-loading:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background: url("../images/sync/icon_status_sync_loading.svg") center no-repeat;
    animation: rotate 0.8s infinite linear; }

.yw-partial-sync-info {
  padding: 0 15px;
  white-space: nowrap; }
  .yw-partial-sync-info .yw-partial-sync-info-syncJob {
    padding: 10px 0;
    border-top: 1px solid #e0e9f0; }
    .yw-partial-sync-info .yw-partial-sync-info-syncJob-name + .z-span {
      margin-left: 10px; }
  .yw-partial-sync-info .yw-partial-sync-info-syncJob:first-child {
    border-top: none; }

.yw-image-attribute-product-type-base, .yw-image-attribute-product-type-variant {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-product-type-base:before, .yw-image-attribute-product-type-variant:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    margin-top: -12px;
    background: url("../images/icon_base_product.svg") center no-repeat; }
.yw-image-attribute-product-type-variant {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-product-type-variant:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    margin-top: -12px;
    background: url("../images/icon_product_variants.svg") center no-repeat; }

.yw-image-attribute-approval-icon {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-image-attribute-approval-icon:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent; }

.yw-image-attribute-approval-status-approved:before {
  background-image: url("../images/icon-product-approval-status-approved.svg"); }
.yw-image-attribute-approval-status-unapproved:before {
  background-image: url("../images/icon-product-approval-status-unapproved.svg"); }
.yw-image-attribute-approval-status-check:before {
  background-image: url("../images/icon-product-approval-status-check.svg"); }

.yw-compound-renderer-container {
  display: inline-block; }

.yw-navigationhistory-nostack .yw-navigationhistory-stack {
  display: none; }

.yw-workflow-status-container .yw-workflow-status-label {
  display: inline; }

.yw-workflow-status-icon {
  width: 16px;
  height: 16px;
  padding: 8px;
  display: inline;
  position: relative; }
  .yw-workflow-status-icon:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-top: -8px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent; }
  .yw-workflow-status-icon-planned:before {
    background: url("../images/workflow/icon-workflow-status-planned.svg") center no-repeat; }
  .yw-workflow-status-icon-running:before {
    background: url("../images/workflow/icon-workflow-status-running.svg") center no-repeat; }
  .yw-workflow-status-icon-finished:before {
    background: url("../images/workflow/icon-workflow-status-finished.svg") center no-repeat; }
  .yw-workflow-status-icon-terminated:before {
    background: url("../images/workflow/icon-workflow-status-terminated.svg") center no-repeat; }

.yw-visjs-chart-container {
  width: 100%;
  height: 1000px;
  background: #FFF; }

body > .cke_screen_reader_only.cke_copyformatting_notification {
  height: 0; }
